<form method="post" action="{{ path('magic_delete', {'id': magic.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ magic.id) }}">
    <button class="btn">Delete</button>
</form>
